@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFA629;
}
p {
    color: #ffffff;
}
body {
    font-family: 'Maiden Orange', sans-serif;
}
/*SIDEBAR*/
.wrapper {
    display: flex;
}
.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #252836;
}
#sidebar {
    width: 200px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #1F1D2B;
    display: flex;
    flex-direction: column;
}
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}
a.sidebar-link {
    position: relative;
    top: 110px;
    padding: .625rem 1.625rem;
    padding-top: 30px;
    margin-left: 34px;
    color: #FFF;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-link i {
    position: relative;
    font-size: 58px;
    margin-bottom: 30px;
}
a.sidebar-link:hover {
    color: #FFA629;
    background-color: #252836;
    border-right: 33px solid transparent;
}
.sidebar-item {
    display: flex;
}
/*PROFILE*/
.wrapper-2 {
    width: 332px;
    height: 645px;
    background-color: #1F1D2B;
    border-radius: 10px;
}
a.item-link {
    padding-left: 12%;
    padding-top: 10%;
    width: 332px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.description {
    font-size: 70%;
    color: #ffffff;
    position: absolute;
    bottom: 34%;
    left: 28%;
}
.item-link i {
    position: relative;
    font-size: 48px;
    margin-bottom: 70px;
}
a.item-link:hover {
    color: #ffffff;
    background-color: #8D602A;
}
.item{
    display: flex;
}
/*DASHBOARD*/
.container-1 {
    position: absolute;
    justify-content: center;
    left: 35%;
    bottom: 2%;
    width: 969px;
    height: 645px;
    background-color: #1F1D2B;
    border-radius: 10px;
}
img {
    width: 150px;
    height: 150px;
    margin-left: 2%;
    margin-top: 2%;
}
.section {
    position: relative;
    border: 1px #ffffff solid;
    width: 70%;
    height: 100%;
    left: 200px;
    bottom: 150px;
    border-radius: 2%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.section p {
    margin: 5;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-outline-success {
    position: relative;
    left: 75%;
}

.edit {
    position: relative;
    right: 7%;
    color: #FFA629;
    cursor: pointer;
}

.changee {
    position: absolute;
    bottom: 20%;
    right: 55%;
}

.removee {
    position: absolute;
    bottom: 20%;
    left: 60%;
}